#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     5000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /tmp/haproxy level admin
    #stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    #mode                    http
    mode                    tcp
    log                     global
    #option                  httplog
    option                  tcplog
    #option                  dontlognull
    #option http-server-close
    #option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    #timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
#frontend  main *:5000
#    acl url_static       path_beg       -i /static /images /javascript /stylesheets
#    acl url_static       path_end       -i .jpg .gif .png .css .js
#
#    use_backend static          if url_static
#    default_backend             app
frontend proxy
    bind *:9003
    mode tcp
    #mode http
    default_backend sg_proxy

frontend proxy_google
    bind *:9004
    mode tcp
    #mode http
    default_backend sg_proxy_google

#---------------------------------------------------------------------
# static backend for serving up images, stylesheets and such
#---------------------------------------------------------------------
backend sg_proxy
        mode tcp
        #mode http
	balance roundrobin
	server SG-0-proxy_52.76.6.27	127.0.0.1:20101 check
	server SG-1-proxy_52.76.11.171	127.0.0.1:20103 check
	server SG-2-proxy_52.74.98.63	127.0.0.1:20105 check
	server SG-3-proxy_52.76.15.252	127.0.0.1:20107 check

	server SG-4-proxy_52.76.48.59	127.0.0.1:20109 check
	server SG-5-proxy_54.251.144.107	127.0.0.1:20111 check
	server SG-6-proxy_52.76.48.22	127.0.0.1:20113 check
	server SG-7-proxy_52.76.31.229	127.0.0.1:20115 check
	timeout connect 600s
        timeout server 30s

backend sg_proxy_google
        mode tcp
        #mode http
	balance source
	server SG-0-proxy_52.76.6.27	127.0.0.1:20101 check
	server SG-1-proxy_52.76.11.171	127.0.0.1:20103 check
	server SG-2-proxy_52.74.98.63	127.0.0.1:20105 check
	server SG-3-proxy_52.76.15.252	127.0.0.1:20107 check

	server SG-4-proxy_52.76.48.59	127.0.0.1:20109 check
	server SG-5-proxy_54.251.144.107	127.0.0.1:20111 check
	server SG-6-proxy_52.76.48.22	127.0.0.1:20113 check
	server SG-7-proxy_52.76.31.229	127.0.0.1:20115 check
	timeout connect 600s
        timeout server 30s
#---------------------------------------------------------------------
listen monitor
    bind *:1080
    mode http
    stats uri /haproxy-status
    stats refresh 5s
    stats realm "password  monitor"
    stats auth admin:Gjzq2015
#---------------------------------------------------------------------
