[DEFAULT]
host=cinder
notification_driver=cinder.openstack.common.notifier.rpc_notifier
rpc_backend=cinder.openstack.common.rpc.impl_kombu
control_exchange=openstack
osapi_volume_listen=0.0.0.0
osapi_volume_workers=4
api_paste_config=/etc/cinder/api-paste.ini
glance_host={{os_control}}
enable_v1_api=True
enable_v2_api=True
storage_availability_zone=nova
default_availability_zone=nova
auth_strategy=keystone
enabled_backends=rbd-sata,rbd-ssd
use_syslog=False
debug=False
log_dir=/var/log/cinder
verbose=True
amqp_durable_queues=False
[BRCD_FABRIC_EXAMPLE]
[CISCO_FABRIC_EXAMPLE]
[database]
idle_timeout=3600
max_retries=10
retry_interval=10
min_pool_size=1
connection=mysql://cinder:{{CONFIG_CINDER_DB_PW}}@{{os_control}}/cinder
[fc-zone-manager]
[keymgr]
[keystone_authtoken]
[matchmaker_redis]
[matchmaker_ring]
[oslo_messaging_amqp]
[oslo_messaging_qpid]
[oslo_messaging_rabbit]
rabbit_host={{os_rabbitmq}}
rabbit_port=5672
rabbit_hosts={{os_rabbitmq}}:5672
rabbit_use_ssl=False
rabbit_userid=guest
rabbit_password=guest
rabbit_virtual_host=/
rabbit_ha_queues=False
[profiler]
[rbd-sata]
volume_driver=cinder.volume.drivers.rbd.RBDDriver
volume_backend_name=RBD_SATA
rbd_pool=volumes
rbd_ceph_conf=/etc/ceph/ceph.conf
rbd_user=cinder
rbd_secret_uuid=62b1ed02-5de2-4a53-be1e-0477d1b385ae
rbd_max_clone_depth=10
rbd_flatten_volume_from_snapshot = false
rbd_store_chunk_size=4
