[DEFAULT]
backup_driver=cinder.backup.drivers.ceph
backup_ceph_conf=/etc/ceph/ceph.conf
backup_ceph_user=cinder
backup_ceph_chunk_size=134217728
backup_ceph_pool=volumes
backup_ceph_stripe_unit=0
backup_ceph_stripe_count=0
restore_discard_excess_bytes=true
osapi_volume_listen=0.0.0.0
api_paste_config=/etc/cinder/api-paste.ini
glance_host={{os_control}}
auth_strategy=keystone
debug=False
verbose=True
use_syslog=False
rpc_backend=cinder.openstack.common.rpc.impl_kombu
control_exchange=cinder
rabbit_host={{os_rabbitmq}}
rabbit_port=5672
volume_group=cinder-volumes
sql_connection=mysql://cinder:{{os_passwd}}_Cloud-DB@PWXcinder@{{os_mysql}}/cinder
sql_idle_timeout=3600
notification_driver=cinder.openstack.common.notifier.rpc_notifier
volume_driver=cinder.volume.drivers.rbd.RBDDriver
rbd_pool=volumes
rbd_ceph_conf=/etc/ceph/ceph.conf
rbd_flatten_volume_from_snapshot = false
rbd_max_clone_depth=10
glance_api_version=2
rbd_user=cinder
rbd_secret_uuid=62b1ed02-5de2-4a53-be1e-0477d1b385ae
auth_region={{os_region}}
rpc_response_timeout = 300
rpc_cast_timeout = 150
osapi_volume_workers = 4
host = cinder
