[DEFAULT]
verbose=True
debug=False
bind_host=0.0.0.0
bind_port=9292
log_file=/var/log/glance/api.log
backlog=4096
workers=4
show_image_direct_url=False
use_syslog=False
registry_host=0.0.0.0
registry_port=9191
registry_client_protocol=http
notification_driver = messaging
image_cache_dir=/var/lib/glance/image-cache
amqp_durable_queues=False
log_dir=/var/log/glance
[oslo_policy]
[database]
connection=mysql://glance:{{CONFIG_GLANCE_DB_PW}}@{{os_control}}/glance
idle_timeout=3600
[oslo_concurrency]
[keystone_authtoken]
identity_uri=http://{{os_keystone}}:35357
admin_tenant_name=services
admin_user=glance
admin_password={{CONFIG_GLANCE_KS_PW}}
auth_uri=http://{{os_keystone}}:5000/v2.0
[paste_deploy]
flavor=keystone
[store_type_location_strategy]
[profiler]
[task]
[taskflow_executor]
[glance_store]
stores=rbd
default_store=rbd
rbd_store_ceph_conf=/etc/ceph/ceph.conf
rbd_store_user = glance
rbd_store_pool=images
rbd_store_chunk_size=4
os_region_name={{os_region}}
[oslo_messaging_rabbit]
rabbit_userid=guest
rabbit_use_ssl=False
rabbit_port=5672
rabbit_ha_queues=False
rabbit_virtual_host=/
rabbit_notification_exchange=glance
rabbit_password=guest
rabbit_hosts={{os_rabbitmq}}:5672
rabbit_notification_topic=notifications
rabbit_host={{os_rabbitmq}}
