[DEFAULT]
notification_topics=notifications
rpc_backend=ceilometer.openstack.common.rpc.impl_kombu
debug=False
verbose=True
log_dir=/var/log/ceilometer
use_syslog=False
[alarm]
partition_rpc_topic=alarm_partition_coordination
evaluation_interval=60
record_history=True
evaluation_service=ceilometer.alarm.service.SingletonAlarmService
[api]
port=8777
host=0.0.0.0
[central]
[collector]
udp_address=0.0.0.0
udp_port=4952
[compute]
[coordination]
backend_url=redis://{{os_redis}}:6379
[database]
connection=mongodb://{{os_mongodb}}:27017/ceilometer
[dispatcher_file]
[event]
[hardware]
[ipmi]
[keystone_authtoken]
auth_uri=http://{{os_keystone}}:5000/v2.0
identity_uri=http://{{os_keystone}}:35357
admin_user=ceilometer
admin_password=5ed00426b974489e
admin_tenant_name=services
[matchmaker_redis]
[matchmaker_ring]
[notification]
ack_on_event_error=True
store_events=False
[publisher]
metering_secret=44891274870e411f
[publisher_notifier]
[publisher_rpc]
[service_credentials]
os_username=ceilometer
os_password={{CONFIG_CEILOMETER_KS_PW}}
os_tenant_name=services
os_auth_url=http://{{os_keystone}}:5000/v2.0
os_region_name={{os_region}}
[service_types]
[vmware]
[xenapi]
[oslo_messaging_rabbit]
rabbit_password=guest
rabbit_hosts={{os_rabbitmq}}:5672
rabbit_ha_queues=False
rabbit_host={{os_rabbitmq}}
rabbit_virtual_host=/
rabbit_port=5672
rabbit_userid=guest
rabbit_use_ssl=False
