[DEFAULT]
notification_driver=ceilometer.compute.nova_notifier
notification_driver=nova.openstack.common.notifier.rpc_notifier
notification_driver =
notification_topics=notifications
rpc_backend=rabbit
internal_service_availability_zone=internal
default_availability_zone=nova
notify_api_faults=False
state_path=/var/lib/nova
report_interval=10
compute_manager=nova.compute.manager.ComputeManager
service_down_time=60
rootwrap_config=/etc/nova/rootwrap.conf
auth_strategy=keystone
heal_instance_info_cache_interval=60
reserved_host_memory_mb=2048
network_api_class=nova.network.neutronv2.api.API
default_floating_pool=public
force_snat_range=0.0.0.0/0
metadata_host={{os_control}}
dhcp_domain={{os_domain_name}}
security_group_api=neutron
debug=False
verbose=True
log_dir=/var/log/nova
use_syslog=False
compute_driver=libvirt.LibvirtDriver
vif_plugging_is_fatal=False
vif_plugging_timeout=0
firewall_driver=nova.virt.firewall.NoopFirewallDriver
vcpu_pin_set=2-100
force_raw_images=True
novncproxy_base_url=http://{{os_novncproxy}}:6080/vnc_auto.html
vncserver_listen=0.0.0.0
vncserver_proxyclient_address={{inventory_hostname}}
vnc_enabled=True
vnc_keymap=en-us
volume_api_class=nova.volume.cinder.API
amqp_durable_queues=False
sql_connection=mysql://nova@{{os_mysql}}/nova
image_service=nova.image.glance.GlanceImageService
lock_path=/var/lib/nova/tmp
[api_database]
[barbican]
[cells]
[cinder]
[conductor]
[database]
[ephemeral_storage_encryption]
[glance]
api_servers={{os_control}}:9292
[guestfs]
[hyperv]
[image_file_url]
[ironic]
[keymgr]
[keystone_authtoken]
[libvirt]
virt_type=kvm
inject_password=False
inject_key=False
inject_partition=-2
live_migration_uri=qemu+tcp://nova@%s/system
cpu_mode=host-model
disk_cachemodes = "network=writeback"
vif_driver=nova.virt.libvirt.vif.LibvirtGenericVIFDriver
images_type=rbd
images_rbd_pool=images
images_rbd_ceph_conf=/etc/ceph/ceph.conf
hw_disk_discard=unmap
use_virtio_for_bridges=true
rbd_user=cinder
rbd_secret_uuid=62b1ed02-5de2-4a53-be1e-0477d1b385ae
[metrics]
[neutron]
url=http://{{os_control}}:9696
admin_username=neutron
admin_password={{CONFIG_NEUTRON_KS_PW}}
admin_tenant_name=services
region_name={{os_region}}
admin_auth_url=http://{{os_keystone}}:5000/v2.0
auth_strategy=keystone
ovs_bridge=br-int
extension_sync_interval=600
url_timeout=30
default_tenant_id=default
[osapi_v3]
[rdp]
[serial_console]
[spice]
[ssl]
[trusted_computing]
[upgrade_levels]
[vmware]
[workarounds]
[xenserver]
[zookeeper]
[matchmaker_redis]
[matchmaker_ring]
[oslo_concurrency]
[oslo_messaging_amqp]
[oslo_messaging_qpid]
[oslo_messaging_rabbit]
rabbit_host={{os_rabbitmq}}
rabbit_port=5672
rabbit_hosts={{os_rabbitmq}}:5672
rabbit_use_ssl=False
rabbit_userid=guest
rabbit_password=guest
rabbit_virtual_host=/
rabbit_ha_queues=False
