[DEFAULT]
notification_driver =
notification_topics=notifications
rpc_backend=rabbit
default_availability_zone=BACKUP
notify_api_faults=False
state_path=/var/lib/nova
report_interval=10
enabled_apis=ec2,osapi_compute,metadata
ec2_listen=0.0.0.0
ec2_workers=1
osapi_compute_listen=0.0.0.0
osapi_compute_workers=8
metadata_listen=0.0.0.0
metadata_workers=1
service_down_time=60
rootwrap_config=/etc/nova/rootwrap.conf
auth_strategy=keystone
use_forwarded_for=False
novncproxy_host=0.0.0.0
novncproxy_port=6080
allow_resize_to_same_host=True
network_api_class=nova.network.neutronv2.api.API
default_floating_pool=public
force_snat_range=0.0.0.0/0
metadata_host={{os_control}}
dhcp_domain={{os_domain_name}}
security_group_api=neutron
debug=False
verbose=True
log_dir=/var/log/nova
use_syslog=False
cpu_allocation_ratio=8.0
ram_allocation_ratio=1.0
scheduler_default_filters=RetryFilter,AvailabilityZoneFilter,RamFilter,ComputeFilter,ComputeCapabilitiesFilter,ImagePropertiesFilter,CoreFilter
scheduler_driver=nova.scheduler.filter_scheduler.FilterScheduler
force_config_drive=True
vif_plugging_is_fatal=True
vif_plugging_timeout=300
firewall_driver=nova.virt.firewall.NoopFirewallDriver
novncproxy_base_url=http://0.0.0.0:6080/vnc_auto.html
volume_api_class=nova.volume.cinder.API
amqp_durable_queues=False
sql_connection=mysql://nova:{{CONFIG_NOVA_DB_PW}}@{{os_mysql}}/nova
image_service=nova.image.glance.GlanceImageService
lock_path=/var/lib/nova/tmp
osapi_volume_listen=0.0.0.0
[api_database]
[barbican]
[cells]
[cinder]
[conductor]
workers=8
[database]
[ephemeral_storage_encryption]
[glance]
api_servers={{os_control}}:9292
[guestfs]
[hyperv]
[image_file_url]
[ironic]
[keymgr]
[keystone_authtoken]
auth_uri=http://{{os_keystone}}:5000/v2.0
identity_uri=http://{{os_keystone}}:35357
admin_user=nova
admin_password={{CONFIG_NOVA_KS_PW}}
admin_tenant_name=services
[libvirt]
inject_password=true
inject_key=true
inject_partition=-2
images_type=rbd
images_rbd_pool=images
images_rbd_ceph_conf=/etc/ceph/ceph.conf
rbd_user=cinder
rbd_secret_uuid=62b1ed02-5de2-4a53-be1e-0477d1b385ae
vif_driver=nova.virt.libvirt.vif.LibvirtGenericVIFDriver
[metrics]
[neutron]
service_metadata_proxy=True
metadata_proxy_shared_secret=f1deec2ecea94218
url=http://{{os_control}}:9696
admin_username=neutron
admin_password={{CONFIG_NEUTRON_KS_PW}}
admin_tenant_name=services
region_name={{os_region}}
admin_auth_url=http://{{os_keystone}}:5000/v2.0
auth_strategy=keystone
ovs_bridge=br-int
extension_sync_interval=600
url_timeout=120
default_tenant_id=default
[osapi_v3]
enabled=False
[rdp]
[serial_console]
[spice]
[ssl]
[trusted_computing]
[upgrade_levels]
[vmware]
[workarounds]
[xenserver]
[zookeeper]
[matchmaker_redis]
[matchmaker_ring]
[oslo_concurrency]
[oslo_messaging_amqp]
[oslo_messaging_qpid]
[oslo_messaging_rabbit]
rpc_conn_pool_size=60
rabbit_host={{os_rabbitmq}}
rabbit_port=5672
rabbit_hosts={{os_rabbitmq}}:5672
rabbit_use_ssl=False
rabbit_userid=guest
rabbit_password=guest
rabbit_virtual_host=/
rabbit_ha_queues=False
